.block {
    display: flex;
    align_items: center;
    min-height: 100vh;
    padding: 40px 0;
}

.card-row {
    display: flex;
    gap: 30px;
    flex-wrap:wrap;
    margin: 0 auto;

}

.card-row #card{
    flex-basis: 23%;
    height: 100%;
    margin: 10px:
}

.card-body h3,
.card-body h5,
.card-body p {
    font-family: 'Optima', sans-serif;
}

/* Basic styles for navbar */
.navbar {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
}

.navbar-item {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.navbar-item:hover {
    color: #ccc;
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #ddd;
}

/* Main content styles */
main {
    padding: 20px;
}

img{
    width : 20%;
}