{% extends './base.html' %}

{% block title %}Главная{% endblock %}
{% block content %}
<section class="block">
        <div class="container">
          <h1 class="title">Свежие новости</h1>
           <div class="card-row">
               {% for post in posts  %}
              <div class="card" id="card">
                  <div class="card-content">
                      <img src="{{ post.image }}" alt="">
                    <div class="content">
                        <h3>{{ post.title }}</h3>
                        <h5>{{ post.post_date }}</h5>
                            {{ post.description|truncatewords:10 }}
                    </div>
                      <a href="{% url 'news_detail_page' pk=post.pk %}" class="button is-primary">Read</a>
        </div>
    </div>
                {% endfor %}
           </div>

            <a href="{% url 'all_news_page' %}" class="mt-5 button is-primary">Все новости</a>
        </div>
      </section>
{% endblock %}
