{% extends './base.html' %}

{% block title %}Все Новости{% endblock %}
{% block content %}

<style>
    .card img{
        width:100%;
    }
</style>

<section class="block">
        <div class="container">
             <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">

          </nav>
           <div class="card-row">
               {% for post in posts  %}
              <div class="card" id="card">
                  <div class="card-content ">
                      <img src="{{ post.image }}" class = "card-img-top" alt="">
                    <div class="content">
                        <h3>{{ post.title }}</h3>
                        <h5>{{ post.description }}</h5>
                            {{ post.price }}


                    </div>
                      <a href="{% url 'news_detail_page' pk=post.pk %}" class="button is-white">Купить</a>
        </div>
    </div>
                {% endfor %}
           </div>


        </div>
      </section>
{% endblock %}