{% extends './base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<style>
    label{
        display: block;
        margin-bottom: 10px
        list-style-type: disc;
        margin-left: 20px;
    }
    input {
        width: 100%;
        display: block;
        padding: 20px;
        border-radius:15px;
        border: 1px solid #1f2229;
        margin-bottom: 20px
    }
    a{
        display: block;
        margin-bottom: 10px;
        list-style-type: disc;
        margin-left: 20px;
    }
</style>

<section class="block">
        <div class="container">
          <h1 class="title">Регистрация</h1>
          <form method="post">
            {% csrf_token %}
            {{ form }}
            <button class="button is-primary mb-3">Зарегестрироваться</button>
            <p>Если у вас есть аккаунта, пройдите <a href="{% url 'login_page' %}">авторизацию</a></p>
          </form>
        </div>
</section>

<button>login</button>
{% endblock %}